{% extends 'base.html' %}
{% load static %}

{% block title %}Прямой эфир с камер{% endblock %}

{% block content %}

<style>
    main {
        background-color: #f0f0f0;
        /* height: 100%; */
        height: 100vh
    }
    .cameras {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        /* min-height: 100vh; */
        /* background-color: #f0f0f0; */
    }

    .group {
        width: 45%;
        margin: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
    }

    h2 {
        text-align: center;
        color: #333;
    }

    .video-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .video-item {
        max-width: 40%;
        max-height: 250px;
        margin-bottom: 20px;
        background-color: #000;
    }

    img {
        height: 100%;
        width: 100%;
        /* height: 100px; */
    }
    @media (max-width: 1024px) {
        .cameras {
            flex-direction: column;
        }
        .group {
            width: 95%;
            margin-bottom: 20px;
        }
    }
    /* @media screen and (max-width: 1000px) {
        .video-container {
            display: grid;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .cameras {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: space-evenly;
            align-items: flex-start;
            min-height: 100vh;
            background-color: #f0f0f0;
        }

        .video-item {
            max-height: 250px;
            margin-bottom: 10px;
            background-color: #000;
        }

        .group {
            margin: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            padding: 5px;
        }
    } */
</style>
<center>
    <h2>Трансляция с камер</h2>
</center>
<!-- <hr> -->
<main>
    <div class="cameras">
        <div class="group">
            <h2>Вход</h2>
            <div class="video-container enter">
                {% for camera in enter_cameras %}
                <div class="video-item" id="enter_{{camera}}">
                    <img src="/media/not_found.png">
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="group">
            <h2>Выход</h2>
            <div class="video-container exit">
                {% for camera in exit_cameras %}
                <div class="video-item" id="exit_{{camera}}">
                    <img src="/media/not_found.png">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
<script src="{% static 'cameras_enter.js'%} "></script>
<script src="{% static 'cameras_exit.js'%} "></script>
{% endblock %}