{% extends 'base.html' %}

{% block title %}История проходов{% endblock %}

{% block content %}
  <center>
    <h2>История проходов</h2>
  </center>
  <meta http-equiv="refresh" content="15">
  <hr/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>Фото человека</th>
      <th>Событие</th>
      <th>Время</th>
    </tr>
    {% for person in people %}
      <tr>
        <td>
          <img src="{{person.photo}}" class="card-img" alt="Фото" height="100px">
        </td>
        <td>{{person.title}}</td>
        <td>{{person.date}}</td>
      </tr>
    {% endfor %}
   </table>
   <hr>
   {% if previous_page != 0 or next_page != 0%}
      {% if previous_page != 0 %}
        <a href="?page={{previous_page}}" class="previous">&laquo; Предыдущая страница</a>
      {% else %}
        <a href="" class="previous disabled">&laquo; Предыдущая страница</a>
      {% endif %}
      {% if next_page != 0 %}
      <a href="?page={{next_page}}" class="next">Следующая страница &raquo;</a>
      {% else %}
      <a href="" class="next disabled">Следующая страница &raquo;</a>
      {% endif %}
   {% endif %}
  </div>
{% endblock %}
