{% extends 'base.html' %}

{% block title %}История проходов{% endblock %}

{% block content %}
  <center>
    <h2>История проходов</h2>
  </center>
  <meta http-equiv="refresh" content="15">
  <hr/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>Фото человека</th>
      <th>Событие</th>
      <th>Время</th>
    </tr>
    {% for person in people %}
      <tr>
        <td>
          <img src="{{person.photo}}" class="card-img" alt="Фото" height="100px">
        </td>
        <td>{{person.title}}</td>
        <td>{{person.date}}</td>
      </tr>
    {% endfor %}
   </table>
   <hr>
   {% if previous_page != 0 or next_page != 0%}
      {% if previous_page != 0 %}
        <button type="button" class="btn btn-primary" onclick="window.location.href='?page={{previous_page}}'">&laquo; Предыдущая страница</button>
      {% else %}
        <button type="button" disabled class="btn btn-primary">&laquo; Предыдущая страница</button>
      {% endif %}
      {% if next_page != 0 %}
        <button type="button" class="btn btn-success" onclick="window.location.href='?page={{next_page}}'">Следующая страница &raquo;</button>
      {% else %}
        <button type="button" disabled class="btn btn-success">Следующая страница &raquo;</button>
      {% endif %}
   {% endif %}
  </div>
{% endblock %}