{% extends 'base.html' %}

{% block title %}Список вошедших{% endblock %}

{% block content %}
  <center>
    <h2>Список вошедших</h2>
  </center>
  <meta http-equiv="refresh" content="10">
  <hr/>
  <center>
    <h3>Неизвестные</h3>
  </center>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>Фото человека</th>
      <th>Имя</th>
      <th>Время входа</th>
    </tr>

    {% for person in unknown_people %}
      <tr>
        <td>
          <img src="{{person.photo}}" class="card-img" alt="Фото книги" height="100px">
        </td>
        <td>{{person.name}}</td>
        <td>{{person.date}}</td>
      </tr>
    {% endfor %}
   </table>
    <hr/>
    <center>
      <h3>Известные</h3>
    </center>
   <table class="table table-responsive">
    <tr>
      <th>Фото человека</th>
      <th>Имя</th>
      <th>Время входа</th>
    </tr>

    {% for person in known_people %}
      <tr>
        <td>
          <img src="{{person.photo}}" class="card-img" alt="Фото книги" height="100px">
        </td>
        <td>{{person.name}}</td>
        <td>{{person.date}}</td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
